In [7]:
# Single Value Tuple List
my_tuple = (1,)
print(type(my_tuple))

<class 'tuple'>

In [30]:
# Restaurant Menu Management
menu = [
    ("Pasta", 12.99, "In Stock"),
    ("Burger", 8.99, "Out of Stock"),
    ("Salad", 7.50, "In Stock"),
    ("Pizza", 11.99, "In Stock"),
    ("Burger", 8.99, "In Stock")
]

# Task 1
for x in menu:
    print(x)
    
# Task 2 
print(menu[3][0])

# Task 3
In_Stock = 0 

for x in menu:
    if x == "In Stock":
        In_Stock += 1

('Pasta', 12.99, 'In Stock')
('Burger', 8.99, 'Out of Stock')
('Salad', 7.5, 'In Stock')
('Pizza', 11.99, 'In Stock')
('Burger', 8.99, 'In Stock')
Pizza

In [20]:
# Dictionary Practice 

d = {}

d["name"] = "Marc"
d["grade"] = 85

# Update the value
d["grade"] = 90

d["Major"] = "CS"

print(d)

{'name': 'Marc', 'grade': 90, 'Major': 'CS'}

In [21]:
d = {1:"One", 2:"Two"}

del d[1]
print(d)

{2: 'Two'}

In [23]:
grades = {
	"Alice" : 85,
	"Bob" : 72,
	"Clara" : 92
}

# Remove all studennts with a grade under 80
if grade < 80:
	del grade
else:
	print(grades)

NameError: name 'grade' is not defined

In [43]:
# ICE 3
contacts ={
    "Joel":
        {"address": "1500 Anystreet", "city": "San Francisco",
         "state": "California", "postalCode": "94110",
         "phone": "555-555-1111"},
    "Anne":
        {"address": "1000 Somestreet", "city": "Fresno",
         "state": "California", "postalCode": "93704",
         "phone": "125-555-2222"},
    "Ben":
        {"address": "1400 Another Street", "city": "Fresno",
         "state": "California", "postalCode": "93704",
         "phone": "125-555-4444"}
}
 
# Task 
print( contacts.keys())

dict_keys(['Joel', 'Anne', 'Ben'])

In [46]:
contacts ={
    "Joel":
        {"address": "1500 Anystreet", "city": "San Francisco",
         "state": "California", "postalCode": "94110",
         "phone": "555-555-1111"},
    "Anne":
        {"address": "1000 Somestreet", "city": "Fresno",
         "state": "California", "postalCode": "93704",
         "phone": "125-555-2222"},
    "Ben":
        {"address": "1400 Another Street", "city": "Fresno",
         "state": "California", "postalCode": "93704",
         "phone": "125-555-4444"}
}

if contacts[name][postalCode] == "937034":
    print(f"{name}")

KeyError: 'name'

In [51]:
contacts ={
    "Joel":
        {"address": "1500 Anystreet", "city": "San Francisco",
         "state": "California", "postalCode": "94110",
         "phone": "555-555-1111"},
    "Anne":
        {"address": "1000 Somestreet", "city": "Fresno",
         "state": "California", "postalCode": "93704",
         "phone": "125-555-2222"},
    "Ben":
        {"address": "1400 Another Street", "city": "Fresno",
         "state": "California", "postalCode": "93704",
         "phone": "125-555-4444"}
}

if contact[name]["phone"] == "555-555-1111":
    contacts[name].update({"phone"}:,"555-555-1111")

SyntaxError: invalid syntax (3529757669.py, line 17)

In [68]:
# ICE 4
country_cities = {
    "US": ["New York", "Los Angeles", "Chicago"],
    "CA": ["Toronto", "Vancouver", "Montreal"],
    "GB": ["London", "Birmingham", "Manchester"],
    "FR": ["Paris", "Marseille", "Lyon"],
    "JP": ["Tokyo", "Osaka", "Kyoto"]
}
for country in country_cities:
    print(country)
    key = country
    for cities in country_cities[country]:
        print(cities)

US
New York
Los Angeles
Chicago
CA
Toronto
Vancouver
Montreal
GB
London
Birmingham
Manchester
FR
Paris
Marseille
Lyon
JP
Tokyo
Osaka
Kyoto

In [97]:
# ICE 5

library = {

    "978-1503261969": {
        "title": "Pride and Prejudice",
        "author": "Jane Austen",
        "genre": "Classic",
        "available": False
    },
    "978-0743273565": {
        "title": "The Great Gatsby",
        "author": "F. Scott Fitzgerald",
        "genre": "Classic",
        "available": True
    },
    "978-0553212419": {
        "title": "1984",
        "author": "George Orwell",
        "genre": "Dystopian",
        "available": True
    }
}

for name in library:
    if library[name]["genre"] == "Classic":
        print(name)
        print(library[name]["genre"])
    else:
        print("Error")

978-1503261969
Classic
978-0743273565
Classic
Error